.mcs-points-container {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.mcs-points-description {
  margin-top: 0;
  margin-bottom: 20px;
}

.mcs-points-action {
  margin-top: 20px;
  font-weight: bold;
}
